.containerCustom{
    display: inline-flex;
    flex: 1 1 300px;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;

}

.iconCustom{

padding: 0.8rem;

}

.searchBoxCustom{
border: 0;
flex: 1;
}
.searchButtonCustom{
    color: white;
    background: blue;
    border: 0;
    padding: 0.8rem;
    border-radius: 8px;
}